PORT=27015
IP=0.0.0.0
TICKRATE=64
MAXPLAYERS=16
CS2_PATH=
API_KEY=
STEAM_ACCOUNT=
LAN=0
SERVER_PASSWORD=
RCON_PASSWORD=changeme
EXEC=autoexec.cfg
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/?retryWrites=true&w=majority
